<div class="render-result-container">
    <div class="material-container" style="display: flex;justify-content: space-between;">
        <div class="id-container" style="display: flex;justify-content: space-between;width: 65%;height: 100px;border-left: 3px solid darkorange;border-radius: 30px;background-color: #ffdb9a;">
            <div class="detail-id-container" style="display: flex;flex-direction: column;">
                <div class="id-prime-container" style="padding: 20px 0px 10px 20px;">
                    <span class="ID" style="font-size: 28px;font-weight: 700;">#SR W6FGKL</span>
                    <img src="../../../assets/online.png" height="20px" width="20px" style="margin-bottom:10px;margin-left: 25px;">
                </div>
                <div class="date-time-container"  style="padding: 0px 0px 20px 20px;">
                    <span class="date-time" style="color: gray;font-size: 20px;">Sep 14 2020 | 1:15 PM</span>
                </div>
            </div>
            <div class="material-dropdown-container" style="margin: 25px;">
                <div class="custom-select" style="width:200px;">
                    <select class="custom-select" style="height: 35px;
                    width: 180px;
                    border: 3px solid darkorange;
                    border-radius: 10px;
                    color: orange;
                    font-weight: 500;">
                      <option value="0">Material Order</option>
                      <option value="1">Audi</option>
                    </select>
                  </div>
            </div>
        </div>
        <div class="schedular-container" style="display: flex;flex-direction: column;padding: 20px;height: 100px;width: 25%;border: 1px solid #9ba6b1;border-radius: 30px;background-color: #e8ebed;">
            <label for="schedule" style="font-size: 18px;color: #9ba6b1;font-weight: 500;">Schedule on:</label>
            <input type="date" id="schedule" name="schedule" style="border: none !important;width: 80%;background-color: #e8ebed;font-size: 20px;">
        </div>
    </div>

    <div class="form-container" style="width: 100%;display: flex;justify-content: space-between;padding: 20px;">
        <div class="dropdown-container" style="display: flex;flex-direction: column;width: 48%;">
            <label for="type" class="type-text">Type</label>
                <select name="type" id="type" class="text-dropdown">
                    <option value="volvo">Maintenance</option>
                </select>
        </div>
        <div class="dropdown-container" style="display: flex;flex-direction: column;width: 48%;">
            <label for="subtype" class="type-text">Sub Type</label>
                <select name="subtype" id="subtype" class="text-dropdown">
                    <option value="volvo">Plant Regular Checkup</option>
                </select>
        </div>
    </div>
    <div class="form-container" style="width: 100%;display: flex;justify-content: space-between;padding: 10px 20px 20px 20px;">
        <div class="dropdown-container" style="display: flex;flex-direction: column;width: 48%;">
            <label for="payment" class="type-text">Payment Status</label>
                <select name="payment" id="payment" class="text-dropdown">
                    <option value="volvo">Paid</option>
                </select>
        </div>
        <div class="dropdown-container" style="display: flex;flex-direction: column;width: 48%;">
            <label for="tech" class="type-text">Assigned To</label>
                <select name="tech" id="tech" class="text-dropdown">
                    <option value="volvo">Tech 111</option>
                </select>
        </div>
    </div>
    <div class="form-container" style="width: 100%;display: flex;justify-content: space-between;padding: 10px 20px 20px 20px;">
        <div class="dropdown-container" style="display: flex;flex-direction: column;width: 100%;">
            <label for="desc" class="type-text">Description</label>
            <textarea id="desc" name="desc" rows="6" cols="50" style="border: 1px solid gray;border-radius: 5px;"></textarea>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3" style="display: flex;">         
                <div class="form-group">
                    <label for="files" class="btn" style="height: 80px;width: 80px;background-color: beige;color: slateblue;padding-top: 25px;font-size: 24px;font-weight: 700;" (click)="startUpload()">+</label>
                    <input type="file" name="files" id="getFile" (change)="fileProgress($event)" style="display: none;"/>
                </div>
                <div *ngIf="fileUploadProgress">
                    Upload progress: {{ fileUploadProgress }}
                </div>
                <div class="image-preview mb-3" *ngIf="previewUrl" style="margin-left: 20px;">
                    <div class="cross-icon" style="background-color: darkorange; height: 25px;width: 25px;z-index: 2000;border-radius: 100px;padding: 2px 8px 20px;position: absolute;cursor: pointer;;margin-left: -10px;margin-top: -10px;">
                        <span style="color: white;font-weight: 800;">x</span>
                    </div>
                    <img [src]="previewUrl" height="80px" width="80px" style="border-radius: 5px;z-index: 100;">
                    
                </div>
     
                <div class="mb-3" *ngIf="uploadedFilePath">
                    {{uploadedFilePath}}
                </div>
                 
                
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary"  (click)="onSubmit()" style="background-color: darkorange;color: white;font-size: 22px;border:1px solid darkorange">Update</button>
        </div>
    </div>
    
</div>
