<div class="material-container">
    <div class="tab">
        <button class="tablinks" (click)="opencampaign($event, 'upcoming')" id="defaultOpen">Service Request</button>
        <button class="tablinks" (click)="opencampaign($event, 'live')">Activity Log</button>
        <button class="tablinks" (click)="opencampaign($event, 'past')">Spare Items</button>
    </div>
    

    <div id="upcoming" class="tabcontent">
        <app-tab-header [type]="text_value"></app-tab-header>
    </div>
    
    <div id="live" class="tabcontent">
        <app-tab-header [type]="text_value"></app-tab-header>
    </div>
    
    <div id="past" class="tabcontent">
        <app-tab-header [type]="text_value"></app-tab-header>
    </div>
</div>
